<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Сервис разметки текстовых документов вопросно-ответной системы</title>
        <link rel="icon" type="image/x-icon" href="/public/img/mini_logo_small.png">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="container py-4">
        {% include "components/navbar.html" %}

        {% block content %}
        {% endblock %}
    </div>

    {% block javascript %}
    {% endblock %}
</body>
</html>
