{% extends "base.html.jinja" %}

{% block head %}
    {{ super() }}
    <link href="/public/css/dictionary.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% import 'components/bootstrap_modal.html.jinja' as bootstrap_modal %}
    {{ bootstrap_modal.get(
        headerText="Выберите словарь для объединения",
        helpHeaderText="При объединении целевой словарь имеет больший приоритет. <br>Повторяющиеся элементы не будут добавлены",
        selectId="targetDictionarySelect",
        confirmAddBtnId="confirmAddToDictionaryBtn"
    ) }}
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h5 class="card-title mb-0">
                        {% if dictionary is defined and dictionary.name %}
                            Редактирование словаря: <span class="text-primary">{{ dictionary.name }}</span>
                        {% else %}
                            Создание нового словаря
                        {% endif %}
                    </h5>
                </div>
                {% if is_edit_mode %}
                    <div id="dictionary_id" hidden="hidden">{{ dictionary.id }}</div>
                {% endif %}
                <div style="display: flex;">
                    <button class="btn btn-outline-primary me-2" id="addToDictionaryBtn">
                        <i class="bi bi-plus-circle"></i> Объединить
                    </button>
                    <button class="btn btn-primary" id="exportDictionaryBtn">
                        <i class="bi bi-save"></i> Сохранить
                    </button>
                </div>
            </div>

            <div class="alert alert-info mb-3 d-flex align-items-center">
                <i class="bi bi-info-circle me-2"></i>
                <span>
                    Словосочетания можно перетаскивать между колонками.<br>
                    Нажимая на термин вы переходите в режим работы с ним.
                </span>
            </div>

            <div class="mb-3">
                <label for="dictionaryName" class="form-label">Название словаря*</label>
                <input type="text" class="form-control" required id="dictionaryName"
                       placeholder="Введите название" value="{{ dictionary is defined and dictionary.name or '' }}">
            </div>

            <div class="d-flex align-items-center mb-3 flex-wrap">
                {% set tfidf = dictionary.tfidf_range if dictionary is defined %}

                <label for="tfidfRange" class="form-label me-3 mb-0">Порог TF-IDF</label>
                <input type="range"
                       class="form-range me-3"
                       style="min-width: 100px; max-width: 300px;"
                       id="tfidfRange"
                       min="0" max="1"
                       step="0.001"
                       value="{{ tfidf or 0 }}"
                />
                <input type="number"
                       id="tfidfValue"
                       class="form-control"
                       style="width: 5.5rem;"
                       min="0" max="1"
                       step="0.001"
                       value="{{ tfidf or 0 }}"
                />
            </div>

            <div class="connection-container">
                <div class="row">
                    {% import 'components/phrase_list.html.jinja' as phrase_list %}
                    <div class="col-md-4">
                        {{ phrase_list.get(
                            name_list="Именованные сущности",
                            phrases=phrases,
                            style_id="phrases-column",
                            show_subname=true) }}
                    </div>
                    <div class="col-md-4">
                        {{ phrase_list.get(
                            name_list="Термины",
                            phrases=terms,
                            style_id="terms-column") }}
                    </div>
                    <div class="col-md-4">
                        <div>
                            {{ phrase_list.get(
                                name_list="Синонимы",
                                phrases=synonyms,
                                style_id="synonyms-column") }}
                        </div>
                        <div class="mt-2">
                            {{ phrase_list.get(
                                name_list="Значения",
                                phrases=definitions,
                                style_id="definitions-column") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="/public/js/dictionary.js"></script>
    <script>
        {% if connections %}
            window.DICTIONARY_CONNECTIONS = {{ connections|tojson }};
        {% endif %}
        {% if text %}
            window.TEXT_CONTENT = {{ text|tojson|safe }};
        {% endif %}
    </script>
{% endblock %}
