{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body col-md-4">
                    <form action="/search" method="get" enctype="multipart/form-data">
                        <h5 class="card-title">Поиск по словарям</h5>
                        <input id="textInput" name="text" class="form-control mb-3"
                               placeholder="Введите словосочетание для поиска...">

                        <div class="d-flex gap-2 mb-3">
                            <button id="searchBtn" type="submit" class="btn btn-primary">
                                Найти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
{% endblock %}
